main {

    .live-tiles {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }

    .container-live-tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .live-tiles .container-live-tiles .box {
        position: relative;
        width: 600px;
        height: 337px;
        overflow: hidden;
        transition: 0.5s;
    }

    .box:hover {
        z-index: 1;
        transform: scale(1.25);
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }

    .box .imgBx:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(180deg, rgba(177, 176, 176, 0.933));
        mix-blend-mode: multiply;
        opacity: 0;
        transition: 0.5s;
    }

    .box:hover .imgBx:before {
        opacity: 1;
    }

    .box .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        
    }

    .content-box {
        position: absolute;
        top: 62px;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        padding: 20px;
    }

    .content-box h2 {
        color: rgb(255, 255, 255);
        transition: 0.5s;
        font-size: 30px;
        padding-bottom: 110px;
        transform: translateY(300px);
    }

    .box:hover .content-box h2 {
        transform: translateY(0);
        transition-delay: 0.2s;
    }









    @media(max-width: 400px) {

        .live-tiles {
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;
            margin-bottom: 40px;
        }



        .live-tiles .container-live-tiles .box {
            position: relative;
            width: 600px;
            height: 200px;
            overflow: hidden;
            transition: 0.5s;
        }

        .box:hover {
            z-index: 1;
            transform: scale(1);
            box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
            transition: 0.5s;
        }



        .content-box h2 {
            color: rgb(255, 255, 255);
            transition: 0.5s;
            font-size: 30px;
            padding-bottom: 110px;
            transform: translateY(300px);
        }

        .box:hover .content-box h2 {
            transform: translateY(0);
            transition-delay: 0.2s;
        }


    }



}