main{
    .titulo-pagina{
        margin-top: 150px;
        text-align: center;
        color: white;
        font-size: 25px;
        margin-bottom: 80px;
    }
video{
    width: 100%;
    
}
}
@media only screen and (max-width: 768px){

    video{
        margin-top: 43px;
    }
}

@media only screen and (max-width: 400px){
    video{
        margin-top: 68px;
    }

}
